body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Josefin Slab', serif;
}
a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}
li {
    list-style: none;
}
.btn {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
}
.btn-color {
    border-color: orangered;
    background-color: orangered;
    color: #fff;
}
#active a {
    color: aqua;
}

/* Header Styles */
#mobile-header {
    display: none;
}
.closebtn {
    display: none;
}
.overlay-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px; 
    justify-content: space-evenly;
}
.nav-menu {
    display: inherit;
    margin: 0;
}
.nav-menu li {
    margin: auto 20px;
}
.social-menu {
    display: inherit;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-inline-end: 20px;
}
.social-menu li {
    margin: 0 5px;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 10px;
}

.logo a {
    color: black;
    font-family: 'IM Fell English SC', serif;
    font-size: 2em;
}


/* Intro Styles */
header {
    background-image: url(/images/intro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
    min-width: 100%;
    height: 100%;
}
.intro {
    margin: 200px auto;
    text-align: center;
    max-width: max-content;   
    color: #eee;
}
.intro h1 {
    font-size: 5rem;
}
.intro .btn {
    margin-top: 75px;
    padding: 20px 40px;
    font-size: 1.2rem; 
}
.newest-sermon {
    display: flex;
    background: rgba(0, 0, 0, .5);
    justify-content: space-between;
    align-content: center;
    padding: 1.2em 3em;
}

/* About Section*/

#about img{
    width: 30em;
    height: 25em;
    border: 1px solid #000;
}


.mission-container {
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-evenly;
    
}




















footer {
    width: 100%;
    background-image: radial-gradient(transparent, rgb(0, 0, 0)), url(/images/Salem\ Baptist\ Church\ -\ Google\ Maps\ -\ Google\ Chrome\ 4_3_2019\ 11_30_00\ PM.png);
    height: 600px;
    background-position: center;
    background-size: cover;
}

